{% extends 'base.twig' %}

{% block title %} Liste {% endblock  %}

{% block content %} 


{% if result.error|length > 0 %}
<div class="alert alert-danger">
  <strong>{{ result.error }}</strong> 
</div>
{% else %}
  {% if result.success|length > 0 %}
<div class="alert alert-success">
  <strong>{{ result.success }}</strong> 
</div>
  {% endif %}
{% endif %}

<br>
<h2>GESTION DES ETUDIANTS</h2>
<br>
<br>
 <div class="row">
    <div class="col-sm-4">
<div class="card">
  <div class="card-header" style="font-size: 25px; background-color: #FF9200">Formulaire ajout etudiant</div>
  <div class="card-body">
<form method="post" action="/etudiant/save">


  <div class="mb-3">
   <label for="" class="form-label">Nom</label>
   <input type="text"
     class="form-control form-control-lg" name="nom" id="nom"  placeholder="Entrer le nom de l'Etudiant" autocomplete="off" required>
 </div>

  <div class="mb-3">
   <label for="" class="form-label">Prenom</label>
   <input type="text"
     class="form-control form-control-lg" name="prenom" id="prenom"  placeholder="Entrer le prenom de l'etudiant" autocomplete="off" required>
 </div>

   <div class="mb-3">
   <label for="" class="form-label">Âge</label>
   <input type="number"
     class="form-control form-control-lg" name="age" id="age"  placeholder="Entrer l'âge de l'etudiant" autocomplete="off" required>
 </div>

    <div class="mb-3">
   <label for="" class="form-label">Téléphone</label>
   <input type="number"
     class="form-control form-control-lg" name="telephone" id="telephone"  placeholder="Entrer le telephone de l'etudiant" autocomplete="off" required>
 </div>


  <div class="mb-3">
   <label for="" class="form-label">Cycle</label>
   <select name="cycle" class="form-control form-control-lg" id="cycle" required>
    <option value="">Selectionner un cycle</option>
    <option value="1">Cycle Ingénieur des Pratiques Statistiques</option>
    <option value="2">Micro</option>
    <option value="3">Bureautique</option>
   </select>
   
 </div>

<button type="reset" class="btn btn-danger">VIDER</button>
<button type="submit" class="btn btn-success" style="float: right">AJOUTER</button>


</form>
  </div>

</div>
    </div>








    <div class="col-sm-8">
<div class="card">
  <div class="card-header" style="font-size: 25px; background-color: #323030; color: white">Liste des etudiants</div>
  <div class="card-body">
 <table class="table table-bordered" id="dTable">
    <thead>
      <tr>
        <th>NOM & PRENOM</th>
        <th>Cycle</th>
        <th>AGE</th>
        <th>Telephone</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
        {% for p in etudiants %}
       <tr>
        <td>{{p.nom}} -- {{p.prenom}}</td>
        <td>{{p.libelle_cycle}}</td>
        <td>{{p.age}} ans</td>
        <td>{{p.telephone}}</td>
        <td>
        <a href="/etudiant/form-edit.php/{{ p.id }}" class="btn btn-outline-success btn-md">
          <i class="fa fa-edit"></i>
        </a>
               <a href="#" class="btn btn-outline-primary btn-md">
          Inscription
        </a>

        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
  </div>

</div>
    </div>

    
</div>
    
{% endblock %} 

{% block js %}
<script>
$(document).ready(function() {
  $('#dTable').DataTable( {
        "language": {
            "url": "http://localhost:4000/dt/French.json"
        }
    } );
} );
</script>
{% endblock %}