{% extends 'base.twig' %}

{% block title %} Liste {% endblock  %}

{% block content %} 


{% if result.error|length > 0 %}
<div class="alert alert-danger">
  <strong>{{ result.error }}</strong> 
</div>
{% else %}
  {% if result.success|length > 0 %}
<div class="alert alert-success">
  <strong>{{ result.success }}</strong> 
</div>
  {% endif %}
{% endif %}


<br>
<h2>LES UNITES D'ENSEIGNEMENTS</h2>
<!-- <h4 style="color: red">ANNEE ACTIVE: {{annee}}</h4>-->
<h4>{{ues[0].libelle_cycle}}</h4>
<h5>{{ues[0].libelle_semestre}}</h5>
<br>
<br>
 <div class="row">
    <div class="col-sm-5 ">
<div class="card">
  <div class="card-header" style="font-size: 25px; background-color: #FF9200">Liste UE</div>
  <div class="card-body">
        <table class="table table-bordered">
    <thead>
      <tr>
        <th>LIBELLE</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for u in ues %}
       <tr>
        <td>{{u.libelle_ue}}</td>
        <td>
                <a  class="btn btn-outline-success btn-md" onclick="getModules('{{u.id}}')">
          Modules
        </a>
        </td>
       </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>

</div>
    </div>

<input type="hidden" value="{{det}}" id='det'>



<div class="col-sm-6 offset-sm-1">
<div class="card">
  <div class="card-header" style="font-size: 25px; background-color: #FF9200">Liste modules</div>
  <div class="card-body">
        <table class="table table-bordered" style="font-size: 20px; ">
    <thead>
      <tr>
        <th>LIBELLE</th>
  
      </tr>
    </thead>
    <tbody>
        {% for m in modules %}
       <tr>
        <td>{{m.libelle_module}}</td>

       </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>

</div>
    </div>





</div>

    
{% endblock %} 


{% block js %}
<script>
$(document).ready(function() {
  $('#dTable').DataTable( {
        "language": {
            "url": "http://localhost:4000/dt/French.json"
        }
    } );
} );


function getModules(lib){
  var det=document.getElementById('det').value;
  if(det=='true'){
    actuelle=window.location.href;
    loc=actuelle.substring(0, actuelle.lastIndexOf('/'))+"/"+lib;
  }
    
  else
    loc=window.location.href+"/"+lib;
  window.location.assign(loc)

}
</script>
{% endblock %}
